@import "./../../../colors.scss";
@import "./../../../mixins.scss";

@media only screen and (max-height: 800px) {
  .login-container {
    margin-top: 5rem !important;
    margin-bottom: 2rem !important;
  }
}

@media only screen and (min-width: 319px) and (max-width: 519px) and (max-height: 800px) {
  .go-2-registration {
    gap: 1rem;
    margin-top: 1rem !important;
  }

  .card-content {
    margin-top: 1rem !important;
  }
}

@media only screen and (min-width: 1100px) {
  #start-screen {
    align-items: flex-start !important;
  }

  .go-2-registration {
    position: absolute;
    right: 7.5rem;
    top: 7.5rem;
    margin-top: 0 !important;
    gap: 0 !important;

    button {
      border: unset !important;
      background-color: transparent !important;
      font-weight: normal !important;
      color: rgba(121, 126, 243, 0.7) !important;
      transition: color 225ms ease;
      margin-bottom: 2rem !important;

      &:hover {
        color: rgba(121, 126, 243, 1) !important;
      }
    }
  }

  .card-content {
    padding: 5rem !important;
    height: 66rem !important;
    width: 60.6rem !important;
    justify-content: unset !important;
    gap: 4rem !important;
  }

  .form-btn-container {
    justify-content: center !important;
    margin-top: 2rem;
    gap: 2rem !important;
  }

  form {
    width: 100%;
  }

  .legalContentContainer {
    width: 27rem;
    height: 4.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    @include animation(showLoginContainer, 0.5s, 2.4s, 1);
    margin-bottom: 3rem;
    margin-top: 3rem;

    .impressum,
    .privacy-policy {
      padding: 10px 15px;
      color: $purple-2;
      font-family: Figtree;
      @include fonts-styles(1.8rem, 400);
    }

    a {
      transition: border-radius 225ms ease-in-out, border 225ms ease-in-out,
        color 225ms ease-in-out;
      border-radius: 2.5rem;

      &:hover {
        border-radius: 2.5rem;
        border: 0.5px solid $purple-2;
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (min-height: 800px) {
  .card-content {
    height: 66rem !important;
  }

  .legalContentContainer {
    bottom: 2rem;
    opacity: 0;
    @include animation(showLoginContainer, 0.5s, 2.4s, 1);
  }
}

@media only screen and (max-width: 1099px) {
  .login-success {
    width: 34rem !important;
    bottom: 28rem !important;
    right: 1.8rem !important;
    padding: 2rem !important;

    p {
      font-size: 2rem !important;
    }
  }

  .main-login-container {
    overflow: auto !important;
    margin-top: 0rem !important;
  }

  .legalContentContainer {
    display: none;
  }

  .card-content {
    margin-top: 3rem !important;
    margin-bottom: 0rem !important;

    h1 {
      margin-bottom: 1.5rem !important;
    }

    span {
      font-size: 1.7rem !important;
      margin-bottom: 1.5rem !important;
    }
  }
}

@keyframes showUp {
  100% {
    opacity: 1 !important;
  }
}

#start-screen {
  width: 100%;
  height: 100vh;
  background: $welcome-screen-gradient;
  @include flex-center();
  position: relative;
  @include animation(changeBackground, 0.5s, 2.4s, 1);
  overflow: auto;

  #start-screen::-webkit-scrollbar {
    width: 0.5rem;
  }

  #start-screen::-webkit-scrollbar-thumb {
    background-color: #3498db;
  }

  #start-screen::-webkit-scrollbar-track {
    background: #2c3e50;
  }

  .logo-big {
    z-index: -1;
    position: absolute;
    top: 7.5rem;
    left: 7.5rem;
    @include animation(showLogo, 0.5s, 2.4s, 1);
  }

  .on-start-logo {
    position: absolute;
    top: 7.5rem;
    left: 7.5rem;
  }

  .desktop-animation {
    @include animation(startAnimationDesktop, 0.5s, 2s, 1);
  }

  .mobile-animation {
    @include animation(startAnimationMobile, 0.5s, 2s, 1);
  }

  .animation-container {
    height: 18.4rem;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;

    .animation-left-container {
      height: 18.4rem;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        animation: startAnimationLogo 0.5s forwards;
        transition: left 0.5s ease-in;
        position: absolute;
        left: 26rem;
      }
    }

    .animation-right-container {
      height: 18.4rem;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    img {
      animation: startAnimationLogoName 2s forwards;
      transition: left 2s ease-in;
      position: absolute;
      left: -47rem;
    }
  }
}

@keyframes showBigLogo {
  100% {
    opacity: 1;
  }
}

@keyframes changeBackground {
  100% {
    background: $bg-color;
  }
}

@keyframes showLogo {
  100% {
    z-index: 1;
  }
}

@keyframes startAnimationDesktop {
  98% {
    transform: scale(0.33);
    top: 1.6rem;
    left: -15rem;
  }

  100% {
    display: none;
    transform: scale(0.33);
    top: 1.6rem;
    left: -15rem;
  }
}

@keyframes startAnimationMobile {
  98% {
    top: 14%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) scale(0.3);
  }

  100% {
    display: none;
    top: 14%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) scale(0.3);
  }
}

@keyframes startAnimationLogo {
  100% {
    left: -1rem;
  }
}

@keyframes startAnimationLogoName {
  100% {
    left: 0rem;
  }
}

.purple {
  color: $purple-1;
  font-size: 4rem;
}

.purple2 {
  color: $purple-2;
}

.text-center {
  text-align: center;
}

span {
  font-size: 17px;
}

.main {
  @include flex-center;
  width: 100%;
  height: 100vh;
}

.main-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14rem;

  .login-container {
    opacity: 0;
    gap: 8px;
    @include flex-direction-column;
    justify-content: center;
    align-items: center;
    @include animation(showLoginContainer, 0.5s, 2.4s, 1);

    .card-container {
      .card-content {
        height: 56rem;
        padding: 1.25rem;
        justify-content: space-evenly;
        @include flex-center;
        width: 37rem;
        border-radius: 1.875rem;
        position: relative;

        @media only screen and (max-width: 450px) {
          width: unset;
        }

        h1 {
          color: $purple-1;
        }
      }
    }

    .login-form {
      gap: 2rem;
      @include flex-direction-column();

      .divider-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .divider {
          width: 40%;
          height: 0.1rem;
          background-color: $light-purple-lines;
        }

        p {
          @include fonts-styles(1.8rem, 400);
          line-height: normal;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      .google-log-in {
        width: 100%;
        padding: 1.1rem 3.2rem;
        border-radius: 10rem;
        background: $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        cursor: pointer;
        margin-top: 1rem;

        &:hover {
          transform: scale(1.05);
        }

        p {
          color: $purple-1;
          @include fonts-styles(1.8rem, 400);
          line-height: 120%;
        }
      }
    }

    .action-forgot-pw {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.form-btn-container {
  @include flex-center;
  width: 100%;
  justify-content: space-around;

  button {
    border: unset;
    padding: 1.2rem 2.5rem;
    border-radius: 2.5rem;
    line-height: normal;
    display: flex;
    @include fonts-styles(1.8rem, 700);

    @media only screen and (max-width: 540px) {
      padding: 1.2rem 1.5rem;
    }
  }

  button:first-of-type {
    background: $purple-1;
    color: $white;
    transition: all 225ms ease;

    &:hover {
      background: rgba(121, 126, 243, 0.9);
    }
  }

  button:nth-of-type(2n) {
    border: 2px solid $purple-1;
    color: $purple-1;
    background-color: white;
    transition: all 225ms ease;

    &:hover {
      background-color: $purple-1;
      color: white;
    }
  }
}

.go-2-registration {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;

  p {
    font-size: 18px;
  }

  button {
    border: 2px solid $purple-1;
    padding: 1.2rem 2.5rem;
    border-radius: 2.5rem;
    line-height: normal;
    display: flex;
    @include fonts-styles(1.8rem, 700);
    color: $purple-1;
  }
}

@keyframes showLoginContainer {
  100% {
    opacity: 1;
  }
}

.login-success {
  width: 47rem;
  position: absolute;
  bottom: 29rem;
  right: 7rem;
  padding: 3rem;
  @include flex-center();
  gap: 2rem;
  border-radius: 3rem 3rem 0rem 3rem;
  background: $purple-1;
  box-shadow: 0rem 0.6rem 1rem 0rem rgba(0, 0, 0, 0.2);
  color: $white;
  opacity: 0;
  transition: opacity 2s ease;
  z-index: -1;

  p {
    @include fonts-styles(3rem, 700);
    line-height: normal;
  }
}

.login-opacity {
  opacity: 1;
  z-index: 2;
}

.error-message {
  width: 100%;
  display: flex;
  justify-content: center;

  p {
    color: $rosa-error;
    @include fonts-styles(1.4rem, 400);
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1rem;
  }
}

@media only screen and (max-width: 1100px) {
  .purple {
    font-size: 3rem !important;
  }
}
