<div id="profile-menu-container">
  <ng-container *ngIf="!mobileView">
    <div class="profile-menu-name">
      <p>{{ fullName }}</p>
    </div>

    <div class="profile-menu-img">
      <img src="{{ img }}" alt="Profile image" />
      <mat-icon [ngClass]="{ online: isUserOnline, offline: !isUserOnline }"
        >circle</mat-icon
      >
    </div>

    <div class="profile-menu-navbar">
      <mat-icon (click)="openDesktopDialog(userId)">expand_more</mat-icon>
    </div>
  </ng-container>

  <ng-container *ngIf="mobileView">
    <div (click)="openBottomSheet(userId)" class="profile-menu-img">
      <img src="{{ img }}" alt="Profile image" />
    </div>
  </ng-container>
</div>
