<div [ngClass]="router.url === '/thread' ? 'no-absolute' : 'absolute'" id="profile-menu-container">
  <ng-container *ngIf="!mobileView">
    <div class="profile-menu-name">
      <p>{{ fullName }}</p>
    </div>

    <div class="profile-menu-img">
      <img src="{{ img }}" alt="Profile image" />
      <mat-icon [ngClass]="{ online: isActiveUser, offline: !isActiveUser }"
        >circle</mat-icon
      >
    </div>

    <div class="profile-menu-navbar">
      <mat-icon (click)="openDesktopDialog()">expand_more</mat-icon>
    </div>
  </ng-container>

  <ng-container *ngIf="mobileView">
    <div
      [class.flex]="router.url === '/thread'"
      style="justify-self: flex-end"
      (click)="openBottomSheet()"
      class="profile-menu-img"
    >
      <img 
        [ngClass]="router.url === '/thread' ? 'small' : 'big'"
        src="{{ img }}" alt="Profile image" />
    </div>
  </ng-container>
</div>
