@import "./../../../colors.scss";
@import "./../../../mixins.scss";

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .profile-menu-img {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    img {
      width: 5rem !important;
      height: 5rem !important;
      border-radius: 2.5rem !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .profile-menu-img {
    @include flexbox(flex, unset, flex-end, center);

    img {
      width: 5rem !important;
      height: 5rem !important;
      border-radius: 2.5rem !important;
    }
  }
}

#profile-menu-container {
  // width: 34.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;

  .profile-menu-name {
    p {
      @include fonts-styles(2.2rem, 700);
      line-height: normal;

      @media only screen and (min-width: 1700px) {
        @include fonts-styles(2.8rem, 700);
      }
    }
  }

  .profile-menu-img {
    width: 7rem;
    height: 7rem;
    border-radius: 3.5rem;
    position: relative;

    img {
      width: 7rem;
      height: 7rem;
      border-radius: 3.5rem;
    }

    mat-icon {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .profile-menu-navbar {
    mat-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .online,
  .userActive {
    color: $online-green;
  }

  .offline,
  .userOffline {
    color: $text-gray;
  }
}