@import "./../../../colors.scss";
@import "./../../../mixins.scss";

#profile-menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;

  &.absolute {
    position: absolute;
    width: 34.2rem;
  }

  &.no-absolute {
    position: unset;
  }

  @media only screen and (min-width: 1100px) and (min-height: 1100px) {
    width: unset;
    gap: 1rem;
  }

  .profile-menu-name {
    p {
      @include fonts-styles(3.2rem, 700);
      line-height: normal;

      @media only screen and (min-width: 100px) and (min-height: 1100px) {
        @include fonts-styles(2.2rem, bold);
      }
    }
  }

  .profile-menu-img {
    width: 7rem;
    height: 7rem;
    position: relative;

    &.flex {
      @include flexbox(flex, unset, flex-end, center);
    }

    img {
      &.big {
        width: 7rem;
        height: 7rem;
      }

      &.big {
        width: 5rem;
        height: 5rem;
      }
    }

    mat-icon {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .profile-menu-navbar {
    mat-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .online,
  .userActive {
    color: $online-green;
  }

  .offline,
  .userOffline {
    color: $text-gray;
  }
}