<div class="main">
  <ng-container class="logo">
    <app-logo></app-logo>
  </ng-container>

  <div class="reset-pw-main-wrapper">
    <mat-card class="card-container">
      <mat-card-header class="card-header">
        <h1 class="purple text-center">
          Passwort <br />
          zurücksetzen
        </h1>
      </mat-card-header>

      <form>
        <div class="input-container">
          <app-input
            [(ngModel)]="password"
            (ngModelChange)="onInputChange($event)"
            ngDefaultControl
            name="password"
            pattern="^[A-Za-z\d]{6,}$"
            inputType="password"
            placeholder="Neues Passwort"
            (validityChanged)="onValidityChanged('password', $event)"
          ></app-input>
          <app-input
            [(ngModel)]="confirmPassword"
            (ngModelChange)="onInputChange($event)"
            ngDefaultControl
            name="passwordConfirm"
            pattern="^[A-Za-z\d]{6,}$"
            inputType="password"
            placeholder="Neues Kennwort bestätigen"
            (validityChanged)="onValidityChanged('password', $event)"
          ></app-input>
          <ng-container *ngIf="ifPasswordsMatch()"
            ><p class="error">Die Passwörter stimmen nicht überein.</p>
          </ng-container>
        </div>
        <div (click)="resetPW()" class="btn-container">
          <button
            [ngClass]="{
              bcg: passwordsNotMatch,
              active: !passwordsNotMatch
            }"
            [disabled]="!passwordsNotMatch"
            type="submit"
          >
            Passwort ändern
          </button>
        </div>
      </form>
      <div [ngClass]="{ 'pw-opacity': pwReset }" class="pw-reset">
        <p>Anmelden</p>
      </div>
    </mat-card>
  </div>
</div>
