@import "../../../colors.scss";
@import "../../../mixins.scss";

img {
  width: 3.5rem;
  height: 3.5rem;
}

.chat {
  position: relative;

  &:hover {
    background-color: $bg-color;
    cursor: pointer;
  }

  &:hover .message-line {
    background-color: white;
    color: black;
  }
}

.hover-actions {
  z-index: 9999;
}

.white {
  background-color: white;
}

.flex {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0;
}

.flex-img {
  border-radius: 50%;
}

.reverse {
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.time {
  color: $text-gray;
}

.answers-count {
  margin-right: 2rem;
  color: $purple-2;

  &:hover {
    cursor: pointer;
  }
}

.message-wrapper {
  @include flexbox(flex, column, unset, flex-end);
}

.message-line {
  background-color: $bg-color;
  padding: 1rem;
  border-radius: 1rem;
  border-start-start-radius: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
}

.message-line-img {
  width: 30rem;
  height: 15rem;
  object-fit: cover;
  margin-top: 1rem;

  &.thread-size {
    @media only screen and (min-width: 1100px) and (max-width: 1299px) {
      width: 100%;
    }
  }
}

.own {
  background-color: $purple-2;
  color: white;
  border-radius: 1.5rem 0 1.5rem 1.5rem;
}

.user-img {
  transform: scaleX(-1);
}

.first-line {
  @include flexbox(flex, unset, unset, center);
  width: 100%;
}

.file {
  margin-bottom: 0.5rem;
  @include flexbox(flex, unset, flex-start, center);

  &.justify-end {
    justify-content: end !important
  }
}

.reactions-section {
  @include flexbox(flex, unset, unset, center);
  gap: 2rem;

  .answers-line {
    @include fonts-styles(1.2rem, normal);
    @include flexbox(flex, unset, unset, unset);
  }

  .emoji-line {
    display: flex;
    gap: 1rem;
  }

  .emoji-container {
    @include flexbox(flex, unset, space-between, center);
    width: 6rem;
    border-radius: 3rem;
    padding: 0.2rem 1rem;
    border: 0.1rem solid $purple-1;

    .emoji-img {
      font-size: 1.6rem;
    }

    .emoji-count {
      font-size: 1.4rem;
    }
  }

  .reaction-wrapper {
    position: relative;
  }
}

.reaction-info {
  position: absolute;
  top: -10rem;
  background-color: $purple-1;
  height: 10rem;
  width: 10rem;
  border-radius: 3rem 3rem 3rem 0;
  left: 2rem;
  color: white;
  @include flexbox(flex, column, center, center);
  gap: 1rem;

  .reaction-from {
    font-weight: bold;
  }
}

button {
  background: transparent;
}

.bigger {
  height: 15rem;
}

.edit-message-wrapper {
  background-color: white;
  height: 100%;
  left: 3.2rem;
  right: 7rem;
  position: absolute;
  border: 0.1rem solid $light-purple-lines;
  border-radius: 2rem;
  padding: 1rem 1rem 0 1rem;
  z-index: 1;

  @media only screen and (max-width: 1099px) {
    bottom: 0;
    left: 0.3rem;
    right: 5.2rem;
  }

  @include flexbox(flex, column, unset, unset);

  textarea {
    width: 100%;
    color: $text-gray;
    overflow: auto;
    resize: none;
    height: 100%;
    border: none;

    &:focus-visible {
      outline: none;
    }
  }

  .btn-edit-wrapper {
    @include flexbox(flex, unset, space-between, center);
  }

  .btn-edit-2 {
    @include flexbox(flex, unset, space-between, unset);
    gap: 1rem;
    width: 18rem;

    button {
      padding: 0 1rem 0 1rem;
      height: 3rem;

      &:hover {
        font-weight: bold;
      }

      &:first-child {
        border: 0.1rem solid $purple-2;
        color: $purple-1;
      }

      &:nth-child(2) {
        color: white;
        background-color: $purple-1;
      }
    }
  }
}

.selected-emoji {
  font-size: 1.8rem;
}