<div class="chat white wrapper-padding">
    <section *ngIf="message.sender.fullName != loggedUser" (mouseover)="showActions = true" (mouseleave)="showActions = false">
        <ng-container *ngIf="showActions">
            <app-message-hover-actions *ngIf="message" [isYou]="false"
                [currentMessage]="message.message"></app-message-hover-actions>
        </ng-container>
        <div class="flex">
            <img src="{{message.sender.avatar}}" alt="">
            <div>
                <div class="firstLine">
                    <span class="mr-2"><b>{{message.sender.fullName}}</b></span>
                    <span class="time">{{getTimeFromString(message.created_at)}} Uhr</span>
                </div>
                <div class="messageLine">{{message.message}}</div>
                <div class="lastLine">
                    <span class="answerCount" (click)="showAnswersinThread(message)">{{answersCount}}
                        Antworten</span>
                    <span class="time">Letzte Antwort {{lastAnswerTime}} Uhr</span>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="message.sender.fullName == loggedUser" (mouseover)="showActions = true" (mouseleave)="showActions = false">
        <ng-container *ngIf=" showActions">
        <app-message-hover-actions [isYou]="true" [currentMessage]="message"></app-message-hover-actions>
        </ng-container>
        <div class="flex reverse">
            <img src="{{message.sender.avatar}}" alt="" class="userImg">
            <div>
                <div class="firstLine reverse">
                    <span class="mr-2"><b>{{message.sender.fullName}}</b></span>
                    <span class="time">{{getTimeFromString(message.created_at)}} Uhr</span>
                </div>
                <div class="messageLine own">{{message.message}}</div>
                <div class="lastLine">
                    <span class="answerCount" (click)="showAnswersinThread(message.message)">{{answersCount}}
                        Antworten</span>
                    <span class="time">Letzte Antwort {{lastAnswerTime}} Uhr</span>
                </div>
            </div>
        </div>
    </section>
</div>