<div class="db-main" [ngClass]="'grid-template-' + gridAreaRegulation">
  <div class="logo"><app-logo></app-logo></div>

  <div class="searchbar">
    <app-searchbar
      [showBorder]="false"
      [showLoupe]="true"
      [globalSearch]="true"
      [placeholder]="'Code learning durchsuchen'"
      [comesFrom]="'dashboard'"
    ></app-searchbar>
  </div>

  <div class="profile-menu"><app-profile-menu></app-profile-menu></div>

  <div class="sidenav">
    <app-workspace
      class="h-100 d-flex"
      [isOpen]="workspaceIsOpen"
      (openChatWriteNewMessage)="openNewMessage()"
      (openChannelChat)="openChatofChannel()"
    >
    </app-workspace>
  </div>

  <div class="chat border-radius-3">
    <ng-container *ngIf="!showMessages && !writeNewMessage">
      <div class="show-start-message">
        <h1>Welcome to DaBubble</h1>
        <h2>
          Please select a Channel or Direct Message to start Conversation!
        </h2>
      </div>
    </ng-container>
    <app-main-chat *ngIf="showMessages" class="border-radius-3"></app-main-chat>
    <app-new-message
      *ngIf="writeNewMessage"
      class="border-radius-3"
    ></app-new-message>
  </div>

  <div *ngIf="threadIsOpen" class="threads border-radius-3">
    <app-thread class="border-radius-3"></app-thread>
  </div>

  <div class="btn-toggle">
    <app-button-workspace
      (toggle)="handleWorkspaceToggle($event)"
    ></app-button-workspace>
  </div>
</div>

<ng-container *ngIf="mobileView">
  <app-mobile-header [logoStyling]="mobilePage"></app-mobile-header>
  <div class="mbl-content mbl-padding">
    <div class="mbl-search" *ngIf="mobilePage === 'home'">
      <app-searchbar
        [showBorder]="true"
        [showLoupe]="true"
        [globalSearch]="true"
        [placeholder]="'Gehe zu...'"
        [comesFrom]="'mobileView'"
      ></app-searchbar>
    </div>

    <div class="mbl-nav" *ngIf="mobilePage === 'home'">
      <app-workspace></app-workspace>
    </div>

    <div class="mbl-chat" *ngIf="mobilePage === 'chat'">
      <app-main-chat *ngIf="showMessages"></app-main-chat>
      <app-new-message *ngIf="writeNewMessage"></app-new-message>
    </div>

    <div class="mgl-thred" *ngIf="mobilePage === 'thread'">
      <app-thread></app-thread>
    </div>
  </div>
</ng-container>
