@import "../../colors.scss";
@import "../../mixins.scss";

.db-main {
    @media only screen and (min-width: 1100px) {
        display: grid;
        grid-template-rows: 8rem calc(100vh - 22rem);
        row-gap: 1rem;
        column-gap: 2rem;
        height: 99vh;
        padding: 2rem 4rem;
        position: relative;

        &.grid-template-nct {
            grid-template-areas:
                "logo search user"
                "nav chat thread";
        }

        &.grid-template-cct {
            grid-template-areas:
                "logo search user"
                "chat chat thread";
        }

        &.grid-template-ccc {
            grid-template-areas:
                "logo search user"
                "chat chat chat";
        }

        &.grid-template-ncc {
            grid-template-areas:
                "logo search user"
                "nav chat chat";
        }

        grid-template-columns: 32rem 3fr 28rem;
    }

    @media only screen and (min-width: 1300px) {
        grid-template-columns: 32rem 3fr 32rem;
    }

    @media only screen and (min-width: 1750px) {
        padding: 8rem 10rem;
    }
}

.btn-toggle {
    position: absolute;
    bottom: 50%;
    left: -14rem;

    @media only screen and (max-width: 1099px) {
        display: none;
    }
}

.logo {
    grid-area: logo;
}

.searchbar {
    grid-area: search;
}

.profile-menu {
    grid-area: user;
}

.sidenav {
    grid-area: nav;
}

.chat {
    background-color: white;
    grid-area: chat;
    position: relative;
}

.threads {
    grid-area: thread;
    background-color: white;
}

// ############################################# MOBILE #################################
@media only screen and (max-width: 1099px) {

    .logo,
    .profile-menu,
    .searchbar,
    .sidenav,
    .chat,
    .threads {
        display: none;
    }
}

.mbl-content {
    background-color: white;
    height: calc(100vh - 11rem);
}

.mbl-search {
    padding: 4rem 0 2rem 0;

    @media only screen and (max-width: 767px) {
        padding: 1rem 0 1rem 0;
    }

    @media only screen and (min-width: 768px) and (max-height: 600px) {
        padding: 1rem 0 0rem 0;
    }
}

.mbl-nav {
    padding: 0 1rem;
}