@import "../../colors.scss";
@import "../../mixins.scss";

.db-main {
    &.grid-template-nct {
        grid-template-areas:
            "logo search user"
            "nav chat thread";
    }

    &.grid-template-cct {
        grid-template-areas:
            "logo search user"
            "chat chat thread";
    }

    &.grid-template-ccc {
        grid-template-areas:
            "logo search user"
            "chat chat chat";
    }

    &.grid-template-ncc {
        grid-template-areas:
            "logo search user"
            "nav chat chat";
    }

    display: grid;
    // grid-template-columns: 32rem 3fr 1fr;
    grid-template-rows:8rem calc(100vh - 18rem);
    row-gap: 1rem;
    column-gap: 2rem;
    height: 100vh;
    padding: 2rem 4rem;
    position: relative;

    @media only screen and (min-width: 1100px) {
        grid-template-columns: 32rem 3fr 28rem;
    }

    @media only screen and (min-width: 1300px) {
        grid-template-columns: 32rem 3fr 32rem;
    }

    @media only screen and (min-width: 1750px) {
        padding: 8rem 10rem;
    }
}

.btn-toggle {
    position: absolute;
    bottom: 50%;
    left: -14rem;
}

.logo {
    grid-area: logo;
}

.searchbar {
    grid-area: search;
}

.profile-menu {
    grid-area: user;
}

.sidenav {
    // height: 67rem; // same as workspace
    grid-area: nav;
}

.chat {
    background-color: white;
    grid-area: chat;
    position: relative;
}

.threads {
    grid-area: thread;
    background-color: white;
}