@import "../../colors.scss";
@import "../../mixins.scss";

.db-main {
    &.grid-template-nct {
        grid-template-areas:
        "logo search user"
        "nav chat thread";
    }
    &.grid-template-cct {
        grid-template-areas:
        "logo search user"
        "chat chat thread";
    }
    &.grid-template-ccc {
        grid-template-areas:
        "logo search user"
        "chat chat chat";
    }
    &.grid-template-ncc {
        grid-template-areas:
        "logo search user"
        "nav chat chat";
    }
    display: grid;
    grid-template-columns: 32rem 3fr 1fr;
    grid-template-rows: 10rem 70rem;
    row-gap: 1rem;
    column-gap: 2rem;
    height: 100vh;
    padding: 2rem 4rem;
    position: relative;

    @media only screen and (min-width: 1100px) and (min-height: 1100px) {
        // grid-template-rows: 10rem auto;
        grid-template-columns: 26rem 3fr 1fr;
    }
}

.btn-toggle {
    position: absolute;
    bottom: 50%;
    left: -14rem;
}

.logo {
    grid-area: logo;
}

.searchbar {
    grid-area: search;
}

.profile-menu {
    grid-area: user;
}

.sidenav {
    // height: 67rem; // same as workspace
    grid-area: nav;
}

.chat {
    // height: 67rem; // same as workspace
    background-color: white;
    grid-area: chat;
    padding: 2rem;
    position: relative;
    border-radius: 30px;

    .chat-input{
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
    }
}

.threads {
    grid-area: thread;
    background-color: white;
    // height: 67rem;
    border-radius: 30px;
}