<div class="main-container">
  <div class="users">
    <h2>All users from Firestore</h2>
    <p>Select one to start conversation</p>
    <div
      (click)="startConversation(user)"
      class="user"
      *ngFor="let user of users"
    >
      <img [src]="user.avatar" alt="user" />
      <h2>{{ user.fullName }}</h2>
    </div>
  </div>
  <div class="main-chat">
    <div class="messages">
      <h2>Main chat</h2>
      <p>Please start conversation</p>
      <p>Conversation starts with: {{ clickedUser.fullName }}</p>
      <div *ngFor="let message of messages" class="message-from-user">
        <div class="message-container-left">
          <div class="user">
            <img src="{{ message.creator.avatar }}" alt="" />
            <p>{{ message.creator.fullName }}</p>
            <p>{{ message.timestamp }}</p>
          </div>
          <div class="message-from-user">
            <p class="user-message">{{ message.text }}</p>
            <div class="msg-container">
              <p class="emoji" *ngFor="let reaction of message.reactions">
                {{ reaction.emoji }}
              </p>
            </div>
            <div class="comments-status">
              <p>{{ message.comment }} comments</p>
              <button (click)="openThread(message)">Reply</button>
            </div>
            <div class="options">
              <button (click)="setEditMode(message)">Edit</button>
              <mat-icon (click)="toggleEmojiPicker(message.id, false)">
                {{
                  isEmojiPickerOpen(message.id, false)
                    ? "emoji_emotions"
                    : "add_reaction"
                }}
              </mat-icon>
            </div>
          </div>
        </div>
        <div class="message-container-right" *ngIf="isEditMode(message.id)">
          <input [(ngModel)]="newText" type="text" />
          <button (click)="updateMessage(message, 'mainMsg')">Save</button>
        </div>
        <emoji-mart
          (emojiClick)="addEmojiToMessage($event, message.id)"
          *ngIf="isEmojiPickerOpen(message.id, false)"
          title="Pick your emoji…"
          emoji="point_up"
        >
          {{ isEmojiPickerOpen(message.id, false) }}
        </emoji-mart>
      </div>
    </div>
    <div class="send-messages">
      <input [(ngModel)]="text" type="text" placeholder="Type a message" />
      <button (click)="addMessage(false, clickedUser)">Send</button>
    </div>
  </div>
  <div class="thread">
    <ng-container *ngIf="threads.length > 0">
      <div class="thread-container">
        <div class="thread-message-comments">
          <h2>Thread</h2>
          <div *ngFor="let thread of threads" class="main-message-container">
            <div class="main-message-user">
              <img
                class="main-message-img"
                src="{{ thread.creator.avatar }}"
                alt=""
              />
              <p class="main-message-full-name">
                {{ thread.creator.fullName }}
              </p>
            </div>

            <div class="main-message-msg-opt">
              <p class="main-message-msg">Message: {{ thread.text }}</p>
              <div *ngFor="let message of messages">
                <p class="emoji" *ngFor="let reaction of message.reactions">
                  {{ reaction.emoji }}
                </p>
              </div>

              <div class="options">
                <button (click)="editComment(thread)">Edit</button>
                <mat-icon (click)="toggleEmojiPicker(thread.id, true)">
                  {{
                    isEmojiPickerOpen(thread.id, false)
                      ? "emoji_emotions"
                      : "add_reaction"
                  }}
                </mat-icon>
              </div>
            </div>
            <emoji-mart
              (emojiClick)="addEmojiToMessage($event, thread.id)"
              *ngIf="isEmojiPickerOpen(thread.id, true)"
              title="Pick your emoji…"
              emoji="point_up"
            >
              {{ isEmojiPickerOpen(thread.id, true) }}
            </emoji-mart>
            <div *ngIf="editingCommentId === thread.id" class="edit-comment">
              <input
                value="{{ thread.text }}"
                [(ngModel)]="editedComment"
                type="text"
              />
              <button (click)="updateMessage(thread, 'threadMsg')">Save</button>
              <button (click)="cancelEdit()">Cancel</button>
            </div>
          </div>
          <div *ngFor="let comment of comments" class="main-message-container">
            <div class="main-message-user">
              <img
                class="main-message-img"
                src="{{ comment.creator.avatar }}"
                alt=""
              />
              <p class="main-message-full-name">
                {{ comment.creator.fullName }}
              </p>
            </div>

            <div class="main-message-msg-opt">
              <p>Comment: {{ comment.text }}</p>
              <p *ngFor="let reaction of comment.reactions">
                {{ reaction.emoji }}
              </p>
              <div class="options">
                <button (click)="editComment(comment)">Edit</button>
                <mat-icon (click)="toggleEmojiPicker(comment.id, false)">
                  {{
                    isEmojiPickerOpen(comment.id, false)
                      ? "emoji_emotions"
                      : "add_reaction"
                  }}
                </mat-icon>
              </div>
            </div>
            <emoji-mart
              (emojiClick)="addEmojiToComment($event, comment.id)"
              *ngIf="isEmojiPickerOpen(comment.id, false)"
              title="Pick your emoji…"
              emoji="point_up"
            >
              {{ isEmojiPickerOpen(comment.id, false) }}
            </emoji-mart>

            <div *ngIf="editingCommentId === comment.id" class="edit-comment">
              <input
                value="{{ comment.text }}"
                [(ngModel)]="editedComment"
                type="text"
              />
              <button (click)="saveComment(comment)">Save</button>
              <button (click)="cancelEdit()">Cancel</button>
            </div>
          </div>
        </div>
        <div class="thread-form">
          <input
            [(ngModel)]="commentText"
            type="text"
            placeholder="Type a message"
          />
          <button (click)="commentMessage()">Send</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
