@import "../colors.scss";
@import "../mixins.scss";

label {
  font-size: 2rem;
}

.message-main {
  color: red;
}

.comment-main {
  color: blue;
}

.reaction-on-comment {
  color: green;
}

.main-container {
  padding: 4rem;
  border: 0.2rem solid red;
  margin-bottom: 5rem;

  input {
    padding: 1.4rem;
    width: 30rem;

    &:focus {
      border: 1px solid red;
    }
  }

  button {
    margin-left: 2rem;
    padding: 1.1rem;
    border: unset;
    border: 0.1rem solid black;
    background-color: aquamarine;
    color: black;
  }

  .select-avatar-upload-foto {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.messages {
  margin-top: 1rem;
  padding: 4rem;
  border: 0.2rem solid blue;
  margin-bottom: 5rem;

  .messages-from-server {
    display: flex;

    button {
      margin-left: 3rem;
      height: 4rem;
      padding: 1rem;
      background-color: orange;
    }
  }

  .messages-edit-container {
    width: 80rem;
    height: 4rem;
    padding: 1rem 0rem;
    margin-bottom: 5rem;

    input {
      width: 35rem;
      height: 4rem;
      padding-left: 2rem;
    }

    button {
      width: 8rem;
      height: 4rem;
      margin-left: 2rem;
    }

    .message-success {
      background-color: green;
      color: white;
    }

    .message-danger {
      background-color: red;
      color: white;
    }
  }

  .message {
    width: 45rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1.6rem;
    border: 0.1rem solid tomato;
    background-color: white;
    color: red;
    font-weight: bold;
  }

  .message-reactions {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;

    div {
      width: 45rem;
      margin-left: 3rem;

      input {
        width: 30rem;
        padding: 1rem;
      }

      button {
        margin-left: 2rem;
        padding: 1rem;
        border: 0.1rem solid black;
        background-color: aquamarine;
        color: black;
      }
    }

    .show-reactions-on-main-message {
      width: 40rem;
      height: 3rem;
      display: flex;
      align-items: center;

      p {
        font-size: 2.4rem;
        margin-left: 0.25rem;
        margin-bottom: 0rem;
      }
    }
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  mat-icon {
    cursor: pointer;
  }

  .image {
    width: 10rem;
    height: 10rem;
    margin-bottom: 4rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.comments {
  width: 100%;
  padding: 4rem;
  border: 0.2rem solid green;

  .comment {
    margin-bottom: 3rem;
    .comment-container {
      width: 100%;
      display: flex;
      margin-bottom: 3rem;
    }

    .comment-text {
      width: 50%;
      display: flex;

      button {
        margin-left: 3rem;
        height: 4rem;
        padding: 1rem;
        background-color: orange;
      }

      .comment-text-first-child {
        font-size: 2rem;
        color: red;
      }

      p {
        font-size: 2rem;
      }
    }

    mat-icon {
      cursor: pointer;
    }

    .comment-reactions {
      width: 50%;
      font-size: 2.5rem;
    }

    .edit-comment-container {
      width: 80rem;
      height: 4rem;
      padding: 1rem 0rem;
      margin-bottom: 5rem;

      input {
        width: 35rem;
        height: 4rem;
        padding-left: 2rem;
      }

      button {
        width: 8rem;
        height: 4rem;
        margin-left: 2rem;
      }

      .message-success {
        background-color: green;
        color: white;
      }

      .message-danger {
        background-color: red;
        color: white;
      }
    }
  }
}

.expand-panel {
  width: 30rem;

  .show-users {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    cursor: pointer;

    &:hover {
      background-color: $bg-color;
    }

    img {
      margin-left: 3rem;
      width: 4rem;
      height: 4rem;
      border-radius: 2rem;
    }

    p {
      margin-left: 2rem;
    }
  }
}

.message-input {
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: Arial, sans-serif;
}

.message-input::first-letter {
  color: #444df2; /* Your desired color */
}
