label {
  font-size: 2rem;
}

.message-main {
  color: red;
}

.comment-main {
  color: blue;
}

.reaction-on-comment {
  color: green;
}

.main-container {
  padding: 4rem;
  border: 0.2rem solid red;
  margin-bottom: 5rem;

  input {
    padding: 1.4rem;
    width: 30rem;
  }

  button {
    margin-left: 2rem;
    padding: 1.1rem;
    border: unset;
    border: 0.1rem solid black;
    background-color: aquamarine;
    color: black;
  }
}

.messages {
  margin-top: 1rem;
  padding: 4rem;
  border: 0.2rem solid blue;
  margin-bottom: 5rem;

  .message {
    height: 4rem;
    padding: 1rem;
    font-size: 1.6rem;
    border: 0.1rem solid tomato;
    background-color: white;
    color: red;
    font-weight: bold;
  }

  .message-reactions {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;

    div {
      width: 45rem;
      margin-left: 3rem;

      input {
        width: 30rem;
        padding: 1rem;
      }

      button {
        margin-left: 2rem;
        padding: 1rem;
        border: 0.1rem solid black;
        background-color: aquamarine;
        color: black;
      }
    }

    .show-reactions-on-main-message {
      width: 40rem;
      height: 3rem;
      display: flex;
      align-items: center;

      p {
        font-size: 2.4rem;
        margin-left: 0.25rem;
        margin-bottom: 0rem;
      }
    }
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  mat-icon {
    cursor: pointer;
  }
}

.comments {
  width: 100%;
  padding: 4rem;
  border: 0.2rem solid green;

  .comment {
    margin-bottom: 3rem;
    .comment-container {
      width: 100%;
      display: flex;
      margin-bottom: 3rem;
    }

    .comment-text {
      width: 50%;

      .comment-text-first-child {
        font-size: 1.6rem;
        color: red;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .comment-reactions {
      width: 50%;
      font-size: 2.5rem;
    }
  }
}
