<label class="message-main">Schreibe eine Nachricht</label>
<div class="main-container">
  <form [formGroup]="form">
    <input
      type="text"
      formControlName="userInput"
      ngDefaultControl
      placeholder="Your message"
    />
  </form>

  <mat-expansion-panel [expanded]="usersSearch || channelSearch">
    <ng-container *ngIf="usersSearch">
      <div *ngFor="let user of users" class="show-users">
        <img src="{{ user.avatar }}" alt="" />
        <p>{{ user.fullName }}</p>
      </div>
    </ng-container>

    <ng-container *ngIf="channelSearch">
      <div *ngFor="let channel of channels" class="show-users">
        <p># {{ channel.channelName }}</p>
      </div>
    </ng-container>
  </mat-expansion-panel>
  <button (click)="addMessage(true)">Create message</button>
</div>

<label class="comment-main"
  >Kommentiere diese Nachricht oder hinterlasse eine Reaktion</label
>
<div class="messages">
  <div *ngIf="editContainerOpen" class="messages-edit-container">
    <label>Edit Message</label>
    <div>
      <input
        [(ngModel)]="editedMessage"
        type="text"
        value="{{ textFromServer }}"
      />
      <button class="message-success" (click)="updateMessage(messageId)">
        Save
      </button>
      <button class="message-danger" (click)="closeEditContainer()">
        Cancel
      </button>
    </div>
  </div>

  <label>Message from Server</label>
  <div class="messages-from-server">
    <p class="message">{{ textFromServer }}</p>
    <button *ngIf="editMessageBtnShow" (click)="showEditContainer()">
      Edit message
    </button>
  </div>

  <div *ngIf="editMessageBtnShow" class="message-reactions">
    <mat-icon (click)="addReactionToMainMessage('mainMessage')"
      >add_reaction</mat-icon
    >
    <div>
      <input
        [(ngModel)]="comment"
        type="text"
        placeholder="Kommentiere diese Nachricht..."
      />
      <button (click)="commentMessage()">Comment</button>
    </div>
    <div class="show-reactions-on-main-message">
      <p *ngFor="let emoji of emojis">{{ emoji }}</p>
    </div>
  </div>

  <div>
    <emoji-mart
      (emojiClick)="addEmoji($event, 'mainMessage', true)"
      *ngIf="active"
      title="Pick your emoji…"
      emoji="point_up"
    ></emoji-mart>
  </div>
</div>

<label class="reaction-on-comment">Reaktionen auf die Kommentare</label>
<div *ngIf="comments.length > 0" class="comments">
  <div *ngFor="let comment of comments" class="comment">
    <div *ngIf="editCommentContainerShow" class="edit-comment-container">
      <label>Edit Comment</label>
      <div>
        <input
          [(ngModel)]="editedComment"
          type="text"
          value="{{ comment.text }}"
        />
        <button class="message-success" (click)="updateComment(comment.id)">
          Save
        </button>
        <button class="message-danger" (click)="closeEditContainer()">
          Cancel
        </button>
      </div>
    </div>

    <div class="comment-container">
      <div class="comment-text">
        <div>
          <p class="comment-text-first-child">{{ comment.text }}</p>
          <p>{{ comment.timestamp }}</p>
          <p *ngIf="comment.edited" class="edited-indicator">Edited</p>
        </div>
        <button (click)="editCommentOpenContainer()">Edit Comment</button>
      </div>

      <div class="comment-reactions">
        <p *ngFor="let reaction of comment.reactions">{{ reaction.emoji }}</p>
      </div>
    </div>

    <div>
      <mat-icon
        (click)="
          addReactionToMainMessage('onComment'); setActiveComment(comment.id)
        "
        >add_reaction</mat-icon
      >
      <div>
        <emoji-mart
          (emojiClick)="addEmoji($event, comment.id, false)"
          *ngIf="activeCommentId === comment.id"
          title="Pick your emoji…"
          emoji="point_up"
        ></emoji-mart>
      </div>
    </div>
  </div>
</div>
