<section [class.thread]="styleHeaderForThread" class="wrapper" *ngFor="let r of room">

    <div [ngClass]=" styleHeaderForThread ? 'thread-header' : 'header-left' "
        (click)=" styleHeaderForThread ? null : openEditChannel()" appHoverChange
        [elementsConfig]="[  
        { imageSelector: '.arrow', defaultSrc: '../../../../assets/img/arrow_down_unfilled_chatHeader.svg', hoverSrc: '../../../../assets/img/arrow_down_unfilled_chatHeader_hover.svg' },
        { imageSelector: '.hash', defaultSrc: '../../../../assets/img/hash.svg', hoverSrc: '../../../../assets/img/hash_hover.svg' }]">

        <h1 *ngIf="styleHeaderForThread">Thread</h1>
        <div class="name">
            <img *ngIf="!styleHeaderForThread" class="hash" src="../../../../assets/img/hash.svg" alt="#">
            <img *ngIf="styleHeaderForThread" class="small" src="../../../../assets/img/hash_hover.svg" alt="#">
            <h1 [ngStyle]="{'font-size': styleHeaderForThread ? '1.3rem' : '2rem' }"> {{ r.name }} </h1>
        </div>

        <img class="arrow" *ngIf="!styleHeaderForThread" src="../../../../assets/img/arrow_down_unfilled_chatHeader.svg"
            alt="drop down">

        <button *ngIf="styleHeaderForThread" (click)="exitThread()" appHoverChange
            [elementsConfig]="[ { imageSelector: '.X', defaultSrc: '../../../../assets/img/exit_X.svg', hoverSrc: '../../../../assets/img/exit_X_hover.svg' }]">
            <img class="X" src="../../../../assets/img/exit_X.svg" alt="exit">
        </button>

    </div>

    <ng-container *ngIf="!styleHeaderForThread">
        <div class="header-right">

            <div class="channel-members desktop-view" appHoverChange [elementsConfig]="[ 
                { textSelector: '.members-count', defaultColor: '#000000', hoverColor: '#797ef3'}
                ]" (click)="showMembers(r.members)">
                <div class="channel-avatars">
                    <ng-container *ngFor="let members of r.members; let i = index">
                        <span *ngIf="i < 3" [ngStyle]="{'left': getLeftPositioning(i)}" class="avatar">
                            <img [src]="members.avatar">
                        </span>
                    </ng-container>
                </div>
                <div class="members-count"> {{ countMembersRoom }} </div>
            </div>

            <button class="btn-50" appHoverChange
                [elementsConfig]="[ { imageSelector: 'img', defaultSrc: '../../../../assets/img/add_member_black.svg',  
                hoverSrc: '../../../../assets/img/add_member_hover.svg'} ]">
                <img src="../../../../assets/img/add_member_black.svg" alt="add-member">
            </button>

        </div>
    </ng-container>
</section>

<div class="header-divider"></div>