@import "../../../colors.scss";
@import "../../../mixins.scss";

h1 {
    font-size: 2rem; // must be set to global styles
}

.small {
    height: 2rem;
    width: 2rem;
}

.header-divider {
    width: 100%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    height: 3px;
    border: 1px dotted red;
}

.header-right {
    @include flexbox(flex, unset, unset, center);
    gap: 2rem;
}

.wrapper {
    @include flexbox(flex, unset, space-between, center);
    height: 5rem;
    background-color: white;
    margin: 2rem 0;

    .header-left {
        @include flexbox(flex, unset, unset, center);
        gap: 2rem;
        border-radius: 100px;
        transition: all 225ms;

        &:hover {
            background-color: $bg-color;
            color: $purple-3;
            cursor: pointer;
        }
    }

    &.thread {
        padding: 0rem 2rem;
        height: 6rem;
        position: relative;
    }

    .thread-header {
        @include flexbox(flex, unset, unset, center);
        position: relative;
        gap: 1rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
        height: 6rem;
        width: 100%;

        button {
            background: transparent;
            position: absolute;
            right: 0;
        }

        .name {
            h1 {
                font-weight: normal !important;
            }

            span,
            h1 {
                color: $purple-2;
            }
        }
    }
}

.name {
    @include flexbox(flex, unset, unset, center);
    gap: 0.5rem;
}