@import "../../../colors.scss";
@import "../../../mixins.scss";

h1 {
    font-size: 2rem; // must be set to global styles
}

.small {
    height: 2rem;
    width: 2rem;
}

.header-right {
    @include flexbox(flex, unset, unset, center);
    gap: 2rem;
}

.wrapper {
    @include flexbox(flex, unset, space-between, center);
    height: 7rem;
    box-shadow: 0 6px 6px -2px #00000014;
    background-color: white;
    // padding: 2rem 0;
    margin-bottom: 1rem;

    .header-left {
        @include flexbox(flex, unset, unset, center);
        gap: 2rem;
        border-radius: 100px;
        transition: all 225ms;

        &:hover {
            background-color: $bg-color;
            color: $purple-3;
            cursor: pointer;
        }
    }

    &.thread {
        padding: 0rem 2rem;
        height: 6rem;
        position: relative;
    }

    .thread-header {
        @include flexbox(flex, unset, unset, center);
        position: relative;
        gap: 1rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
        height: 6rem;
        width: 100%;

        button {
            background: transparent;
            position: absolute;
            right: 0;
        }

        .name {
            h1 {
                font-weight: normal !important;
            }

            span,
            h1 {
                color: $purple-2;
            }
        }
    }
}

.name {
    @include flexbox(flex, unset, unset, center);
    gap: 0.5rem;
}

.channel-members {
    @include flexbox(flex, unset, unset, center);
    width: 14rem;
    position: relative;
    border-radius: 3rem;
    // padding: 1rem 2rem 1rem 1rem; **** for larger screens than 1400px
    padding: 0rem 1rem 0rem 1rem;
    &:hover{
        background-color: $bg-color;
        cursor: pointer;
    }

    .members-count {
        position: absolute;
        right: 1rem;
        @include fonts-styles(1.4rem, bold);
    }
}

.channel-avatars{
    position: relative;
    width: 10rem;
    height: 4rem; // must be same as images of avatars

    .avatar{
        position: absolute;
        top: 0;
        bottom: 0;
        img {
            height: 4rem;
            border: 0.2rem solid white;
            border-radius: 50%;
        }
    }
}