@import "./../../../colors.scss";
@import "./../../../mixins.scss";

.sign-up-header {
  height: 5.6rem;
  display: flex;
  align-items: center;
  @media only screen and (max-height: 600px) {
    margin-top: 5rem;
  }

  .sign-up-header-logo-image {
    height: 48px;

    @media only screen and (max-width: 1000px) {
      height: 42px;
    }
  }
}

.margin-bottom {
  margin-bottom: 4rem;
}

.justify-center {
  justify-content: center;
}
