@import "./../../../colors.scss";
@import "./../../../mixins.scss";

.sign-up-header {
  width: 24.4rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
   justify-content: center;
  @media only screen and (max-height: 600px) {
    margin-top: 5rem;
  }

  .sign-up-header-logo-image {
    width: 100%;

    height: 48px;

    @media only screen and (max-width: 1000px) {
      height: 42px;
    }
  }
}
