@import "./../../../colors.scss";
@import "./../../../mixins.scss";

@media only screen and (min-width: 1100px) {
  app-logo {
    position: absolute !important;
    top: 7.5rem;
    left: 7.5rem;
    z-index: 2;
  }
}

@media only screen and (max-width: 1100px) {
  .privacy-policy-container {
    width: 90% !important;
  }

  .privacy-policy-img {
    margin-right: 0rem !important;
  }
}

#privacy-policy-main-container {
  width: 100%;
  height: 100vh;
  @include flex-center();
  overflow-y: scroll;
  position: absolute;
  scrollbar-width: thin;
  scrollbar-color: $purple-1;
  scroll-behavior: smooth;
  word-wrap: break-word;

  .privacy-policy-container {
    width: 80%;
    height: 100%;
    @include flex-direction-column();
    align-items: center;
    margin-top: 30rem;

    .privacy-policy-content {
      width: 100%;
      padding: 3rem;
      border-radius: 1.875rem;
      background: $white;
      box-shadow: $box-shadow;
      display: flex;
      flex-direction: column;
      justify-content: center;

      #privacy-policy-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h2 {
        margin-top: 2rem;
        font-size: 4.6rem;
        color: $purple-1;
        line-height: normal;
      }

      h3 {
        font-size: 3.2rem;
        color: $purple-1;
        line-height: normal;
      }

      p {
        margin-top: 1rem;
        font-size: 2rem;
      }
    }
  }
}

#privacy-policy-header {
  width: 100%;
  height: 7.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#privacy-policy-header h2 {
  font-size: 6.1rem;
  font-style: normal;
  line-height: 120%;
}

#privacy-policy-main {
  width: 100%;
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.privacy-policy-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.privacy-policy-content {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 150%;
  margin-top: 3rem;
}

#status {
  margin-bottom: 3rem;
}

#relevant-legal-bases-title,
#safety-measures-title,
#transfer-of-personal-data-title,
#international-data-transfers-title,
#rights-of-data-subjects-title,
#use-of-cookies-title,
#provision-of-online-offerings-title,
#contact-and-inquiry-management-title {
  margin-bottom: 1.5rem;
}

#responsible,
#overview,
#species,
#data-subjects,
#purposes-of-processing,
#relevant-legal-bases,
#safety-measures,
#transfer-of-personal-data,
#international-data-transfers,
#rights-of-data-subjects,
#use-of-cookies,
#provision-of-online-offerings,
#contact-and-inquiry-management {
  margin-bottom: 4rem;
}

#privacy-policy-main-container::-webkit-scrollbar {
  width: 0.5rem !important;
}

#privacy-policy-main-container::-webkit-scrollbar-thumb {
  background-color: $purple-1 !important;
}

#privacy-policy-main-container::-webkit-scrollbar-track {
  background-color: #eee !important;
}

ul {
  margin-top: 1rem;
}

li {
  font-size: 2rem;
}

.privacy-policy-img {
  margin-right: 7rem;
}

.seal {
  a {
    color: $purple-1;
  }
}
