<ng-container *ngIf="mobileView">
  <app-workspace-header></app-workspace-header>
</ng-container>
<div class="wrapper">
  <app-chat-header [styleHeaderForThread]="true"></app-chat-header>
  <div class="container">
    <app-message [thread]="true" [message]="currentMessage" class="w-100"></app-message>
  </div>

  <div class="answers-divider wrapper-padding">
    <div class="answers-count">
      <span class="number">{{answersCount}} </span>
      <span class="text fs-12">
        <ng-container *ngIf="answersCount === 1; else multipleAnswers">Antwort</ng-container>
        <ng-template #multipleAnswers>Antworten</ng-template>
      </span>
    </div>
    <span class="stroke"></span>
  </div>

  <div class="answers-details">
    <div *ngFor="let answer of answers">
      <app-message [thread]="true" [message]="answer"></app-message>
    </div>
  </div>

  <section class="input">
    <app-message-input [usedLocation]="'thread'" (commentData)="prepareComment($event)"></app-message-input>
  </section>
</div>