@import "../../../colors.scss";
@import "../../../mixins.scss";

.header {
  @include flexbox(flex, unset, unset, center);
  position: relative;
  gap: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  height: 6rem;

  button {
    position: absolute;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1rem;
    right: -1rem;
    background: transparent;

    &:hover {
      background: $bg-color;
    }
  }

  span {
    color: $purple-2;
    @include fonts-styles(14px, normal);
  }
}

.wrapper {
  background-color: white;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: 767px) {
    height: calc(100vh - 7rem);
  }

  @media only screen and (min-width: 768px) and (max-width: 1099px) {
    height: calc(100vh - 10rem);
  }

  @media only screen and (min-width: 1100px) {
    height: calc(100vh - 22rem);
    border-radius: 30px;
  }
}

.container {
  @include flexbox(flex, unset, unset, flex-start);
  width: 100%;
  gap: 2rem;
  margin-top: 4rem;

  @media only screen and (max-width: 767px) {
    margin-top: 0;
  }

  &.reverse {
    @include flexbox(flex, row-reverse, unset, flex-start);
  }
}

.message {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.reverse {
    align-items: end;
  }

  .messageLine {
    @include fonts-styles(12px, normal);
    background-color: #eceefe;
    padding: 1rem;
    border-radius: 0 1.5rem 1.5rem 1.5rem;
    // border-radius: 1rem;
    border-start-start-radius: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &.user {
      background-color: $purple-2;
      color: white;
      border-radius: 1.5rem 0 1.5rem 1.5rem;
    }
  }
}

.firstLine {
  @include flexbox(flex, unset, unset, center);
  gap: 1rem;

  .sender-name {
    @include fonts-styles(12px, bold);
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.answers-divider {
  color: $light-purple-lines;
  @include flexbox(flex, unset, unset, center);
  gap: 2rem;
  z-index: -1;

  .answers-count {
    @include flexbox(flex, unset, unset, center);
    gap: 1rem;
  }

  .stroke {
    height: 1px;
    width: 100%;
    background-color: $light-purple-lines;
    display: flex;
  }
}

.reactions-container {
  @include flexbox(flex, unset, unset, center);
  gap: 1rem;

  .reactions {
    border-radius: 20px;
    border: 1px solid $light-purple-lines;
    padding: 0.5rem 1rem;
    @include flexbox(flex, unset, unset, center);
    gap: 1rem;

    span {
      @include fonts-styles(10px, normal);
    }
  }

  button {
    background-color: transparent;
    @include flexbox(flex, unset, unset, center);
  }
}

.answers-details {
  padding-top: 3rem;
  height: 54%;
  @media only screen and (max-width: 768px) and (max-height: 700px) {
    height: 47%;
  }
}

.input {
  position: absolute;
  padding: 2rem 2rem;
  left: 0;
  right: 0;
  bottom: 0;

  @media only screen and (max-width: 767px) {
    bottom: 2rem;
    padding: unset;
  }
}

.thread-main-container {
  width: 100%;
  height: 70%;
  overflow: auto;
  @media only screen and (max-height: 800px) {
    height: calc(100vh - 47rem);
  }
}
