<input
  [class.background-image]="showLoupe"
  [ngClass]="showBorder ? 'border-light' : 'border-white'"
  class="input hover"
  type="text"
  placeholder="{{ placeholder }}"
  [(ngModel)]="inputValue"
  (input)="onInputChange($event)"
  (focus)="onInputChange($event)"
  #searchbarInput
/>

<ng-container *ngIf="globalSearch && !isSearchbarEmpty">
  <div class="globalResults">
    <ng-container
      *ngIf="
        filteredChannelsList.length === 0 &&
        filteredPrivateMessagesList.length === 0 &&
        filteredChannelMessagesList.length === 0
      "
    >
      <h3 class="no-result-headline">No results !</h3>
    </ng-container>

    <ng-container *ngIf="filteredChannelsList.length > 0">
      <h6 class="result-headline">Channels</h6>
      <ul *ngFor="let channel of filteredChannelsList">
        <li (click)="openChannel(channel)" class="user-results">
          <img src="../../../../assets/img/hash.svg" alt="#" />
          <p>{{ channel.name }}</p>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="filteredUsersList.length > 0">
      <h6 class="result-headline">Mitglieder</h6>
      <ul *ngFor="let user of filteredUsersList">
        <li class="user-results" (click)="showUserProfile(user.id)">
          <img src="{{ user.avatar }}" alt="image" />
          <p>{{ user.fullName }}</p>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="filteredPrivateMessagesList.length > 0">
      <h6 class="result-headline">Private Nachrichten</h6>
      <ul *ngFor="let dm of filteredPrivateMessagesList">
        <li
          (click)="
            openPrivateMessage(
              dm.creator.id === loggedUser.id ? dm.recipient! : dm.creator!
            )
          "
          class="message-result"
        >
          <img src="{{ dm.creator.avatar }}" alt="image" />
          <div>
            <span class="result-text">{{ dm.text }}</span>
            <div class="result-info">
              <span>{{ dm.creator.fullName }}</span>
              <span>{{ getDateTimeFromString(dm.timestamp) }}</span>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="filteredChannelMessagesList.length > 0">
      <h6 class="result-headline">Channelnachrichten</h6>
      <ul *ngFor="let channelM of filteredChannelMessagesList">
        <li class="message-result" (click)="openChannelMessage(channelM)">
          <img src="{{ channelM.creator.avatar }}" alt="image" />
          <div>
            <span class="result-text">{{ channelM.text }}</span>
            <div class="result-info">
              <span>{{ channelM.creator.fullName }}</span>
              <span>{{ getDateTimeFromString(channelM.timestamp) }}</span>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="newMessageSearch">
  <div
    class="searchResults wrapper-margin"
    *ngIf="usersSearch || channelSearch"
  >
    <ng-container *ngIf="usersSearch">
      <h2>Mitglieder</h2>
      <ul>
        <li
          *ngFor="let user of copyOfUsers"
          (click)="selectUser(user.fullName)"
        >
          <img
            class="imgHeadline"
            src="{{ user.avatar }}"
            alt="Profile Image"
          />
          <p>{{ user.fullName }}</p>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="channelSearch">
      <h2>Channels</h2>
      <ul>
        <li
          *ngFor="let channel of copyOfChannels"
          (click)="selectChannel(channel.name)"
        >
          <p># {{ channel.name }}</p>
        </li>
      </ul>
    </ng-container>
  </div>

  <ng-container
    *ngIf="
      (selectedRecipients.length > 0 && !globalSearch) ||
      (selectedChannels.length > 0 && !globalSearch)
    "
  >
    <section class="recipients">
      <ul *ngFor="let user of selectedRecipients">
        <li class="border-radius-3">
          &#64; {{ user.fullName }}
          <img
            (click)="removeRecipient(user.fullName)"
            src="../../../../assets/img/exit_X.svg"
            alt="x"
          />
        </li>
      </ul>

      <ul *ngFor="let channel of selectedChannels">
        <li class="border-radius-3">
          # {{ channel.name }}
          <img
            (click)="removeChannel(channel.name)"
            src="../../../../assets/img/exit_X.svg"
            alt="x"
          />
        </li>
      </ul>
    </section>
  </ng-container>
</ng-container>
