@import "../../../colors.scss";
@import "../../../mixins.scss";

@media only screen and (max-width: 1100px) {
  .email-send-message {
    padding: 2rem !important;

    mat-icon {
      width: 2.5rem !important;
      height: 2.5rem !important;
      font-size: 2.5rem !important;
    }

    p {
      font-size: 2rem !important;
    }
  }
}

.main {
  height: 100vh;
  width: 100%;
  @include flex-direction-column;
  justify-content: center !important;
  align-items: center;
  gap: 2rem;
}

.reset-pw-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: visible;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.card-container {
  width: 37rem;
  height: 45rem !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1.875rem;
  background: #ffffff;
  box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.08);
  display: flex;

  .arrow-back {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 3rem;
    top: 3rem;
  }

  .card-header {
    @include flex-direction-column;
  }

  span {
    @include fonts-styles(20px, normal);
    color: $text-gray;
  }

  p {
    @include fonts-styles(17px, normal);
  }

  h1 {
    @include fonts-styles(32px, bold);
  }

  button {
    border: unset;
    width: 14.7rem;
    padding: 1.2rem 2.5rem;
    border-radius: 2.5rem;
    background-color: $text-gray;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1rem;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 1rem;

  button {
    border: unset;
    width: 14.7rem;
    padding: 1.2rem 2.5rem;
    border-radius: 2.5rem;
    background: $purple-1;
    color: #ffffff;
  }
}

.active {
  background-color: $text-gray !important;
}

.bcg:hover {
  background-color: $purple-2 !important;
}

.email-send-message {
  width: 34rem;
  position: absolute;
  bottom: 19rem;
  right: 1.5rem;
  padding: 2.5rem;
  @include flex-center();
  gap: 2rem;
  border-radius: 3rem 3rem 0rem 3rem;
  background: $purple-1;
  box-shadow: 0rem 0.6rem 1rem 0rem rgba(0, 0, 0, 0.2);
  color: $white;
  opacity: 0;
  transition: opacity 2s ease;
  z-index: -1;

  mat-icon {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }

  p {
    @include fonts-styles(2.6rem, 700);
    line-height: normal;
  }
}

.msg-opacity {
  opacity: 1;
  z-index: 1;
}
