@import "../../../../mixins.scss";
@import "../../../../colors.scss";

h1 {
    font-size: 2.4rem;
}

.wrapper {
    background-color: white;
    position: relative;
}

.head {
    @include flexbox(flex, column, unset, unset);
    gap: 2rem;
    margin-top: 2rem;
    height: 8rem;
}
