<div class="wrapper wrapper-padding border-radius-3">
  <section class="head">
    <h1>Neue Nachricht</h1>
    <div class="search">
      <app-searchbar
        #searchBarRef
        [newMessageSearch]="true"
        [searchRecipients]="true"
        [showBorder]="true"
        [showLoupe]="false"
        [globalSearch]="false"
        [placeholder]="inputPlaceholder"
      ></app-searchbar>
    </div>
  </section>
  <section class="content">
    <ng-container *ngIf="messageSuccess">
      <section class="sending-information">
        <span class="information-text success border-radius-3"
          >Deine Nachricht wurde gesendet</span
        >
      </section>
    </ng-container>

    <ng-container *ngIf="errorMessage">
      <section class="sending-information">
        <span class="information-text border-radius-3">
          Bitte wählen Sie einen #channel oder &#64;jemanden aus.</span
        >
      </section>
    </ng-container>

    <ng-container *ngIf="errorNoTxtNoFile">
      <section class="sending-information">
        <span class="information-text border-radius-3">
          Bitte geben Sie einen Text ein oder wählen Sie eine Datei aus, um
          fortzufahren.</span
        >
      </section>
    </ng-container>
  </section>
  <section class="chat-input">
    <app-message-input
      (newMessageData)="handleNewMessage($event)"
      [usedLocation]="'newMessage'"
    ></app-message-input>
  </section>
</div>
