<div class="wrapper wrapper-padding border-radius-3" [ngStyle]="{'height': isNotDashboard ? '100vh' : '97%'}" >
    <section class="head">
        <h1>Neue Nachricht</h1>
        <div class="search">
           <app-searchbar [showBorder]="true" [showLoupe]="false" [placeholder]="inputPlaceholder"></app-searchbar>
        </div>
    </section>
    <section class="content"></section>
    <section class="chat-input">
        <app-message-input [usedLocation]="'newMessage'"></app-message-input>
    </section>
</div>