@import "../../../../mixins.scss";
@import "../../../../colors.scss";

h1 {
    font-size: 2.4rem;
}

.wrapper {
    background-color: white;
    position: relative;

    @media only screen and (max-width: 1099px){
        height: calc(100vh - 10rem);
    }
}

.head {
    @include flexbox(flex, column, unset, unset);
    gap: 2rem;
    margin-top: 2rem;
    height: 8rem;
}
