<div [ngClass]="router.url === '/thread' ? 'bg-mobile-thread' : 'justify-unset'" class="ws-header-container">
    <section [ngClass]="{'mobile-thread' : router.url === '/thread'}">
        <ng-container *ngIf="router.url === '/thread'">
            <img src="../../../../../assets/img/arrow_down.svg" alt="exit">
        </ng-container>
        <div class="ws-header-logo">
            <img src="./../../assets/img/workspace_3_desktop_logo.svg" alt="logo learning">
            <h1>Code learning</h1>
        </div>
    </section>

    <div *ngIf="router.url === '/thread'">
        <app-profile-menu></app-profile-menu>
    </div>
    <button *ngIf="router.url !== '/thread'">
        <img src="./../../assets/img/workspace_4_desktop_write_square_black.svg" alt="write message">
    </button>

</div>