<div class="actions-container" 
  [ngClass]="{'thread-size': thread, 'chat-size': !thread}" 
  [class.user-reaction]="isYou">
  <button *ngIf="!thread"
    appHoverChange
    [elementsConfig]="[
      {
        imageSelector: 'img',
        defaultSrc: '../../../../assets/img/add_emoji_check.svg',
        hoverSrc: '../../../../assets/img/add_emoji_check_hover.svg'
      }
    ]"
    (click)="setEmoji('✅', 'mainMessage')"
  >
    <img src="../../../../assets/img/add_emoji_check.svg" alt="ok" />
  </button>

  <button *ngIf="!thread"
    appHoverChange
    [elementsConfig]="[
      {
        imageSelector: 'img',
        defaultSrc: '../../../../assets/img/add_emoji_handsUP.svg',
        hoverSrc: '../../../../assets/img/add_emoji_handsUP_hover.svg'
      }
    ]"
    (click)="setEmoji('🙌', 'mainMessage')"
  >
    <img src="../../../../assets/img/add_emoji_handsUP.svg" alt="bravo" />
  </button>

  <button
    appHoverChange
    [elementsConfig]="[
      {
        imageSelector: 'img',
        defaultSrc: '../../../../assets/img/add_emoji.svg',
        hoverSrc: '../../../../assets/img/add_emoji_hover.svg'
      }
    ]"
    (click)="openEmojiMart('mainMessage')"
  >
    <img src="../../../../assets/img/add_emoji.svg" alt="add reaction" />
  </button>

  <button *ngIf="!thread"
    (click)="openThread()"
    appHoverChange
    [elementsConfig]="[
      {
        imageSelector: 'img',
        defaultSrc: '../../../../assets/img/add_answer.svg',
        hoverSrc: '../../../../assets/img/add_answer_hover.svg'
      }
    ]"
  >
    <img src="../../../../assets/img/add_answer.svg" alt="" />
  </button>

    <button (click)="toggleToolTip($event)" class="btn-edit-wrapper">
        <div *ngIf="isYou" appHoverChange
            [elementsConfig]="
            [{imageSelector: 'img', defaultSrc: '../../../../assets/img/edit_message.svg', hoverSrc: '../../../../assets/img/edit_message_hover.svg'}]">

            <img src="../../../../assets/img/edit_message.svg" alt="">
        </div>
        <ng-container *ngIf="showToolTip">
            <div class="tooltip-edit">
                <span (click)="openEditMessage($event)">Nachricht bearbeiten</span>
            </div>
        </ng-container>
    </button>

</div>

<div>
  <emoji-mart
    (emojiClick)="emitEmoji($event, typeOfMessage)"
    *ngIf="active"
    title="Pick your emoji…"
    [emojiSize]="16"
    [sheetSize]="16"
    [darkMode]="false"
    [totalFrequentLines]="0"
    [enableSearch]="false"
    [style]="{
      zIndex: 999999,
      marginTop: '30px',
    }"
  >
  </emoji-mart>
</div>
