<mat-card class="card">
    <mat-card-header class="head">
        <mat-card-title class="title">Leute hinzufügen</mat-card-title>
        <mat-card-subtitle>
            <span># {{ room.name }}</span>
        </mat-card-subtitle>

        <mat-icon class="icon btn-50" (click)="closeDialog()">close</mat-icon>
    </mat-card-header>

    <mat-card-content class="content">
        <app-searchbar [potentialMembersSearch]="true" [globalSearch]="false" [showBorder]="true"
            [placeholder]="'Name eingeben'" (userListForAddingChannel)="receiveUserList($event)"
            (inputChange)="onSearchInputChange($event)"></app-searchbar>
        <ng-container *ngIf="(!isSearchbarEmpty) && (userListForAddingChannel$ | async) as userList">
            <div class="members-list">
                <ul>
                    <li *ngFor="let item of userList">
                        <img [src]="item.avatar" alt="">
                        <span> {{item.fullName}} </span>
                    </li>
                </ul>
            </div>
        </ng-container>

        <div class="btn-container">
            <button [class.ready]="availableUserChoosen" class="border-radius-3">Hinzufügen</button>
        </div>
    </mat-card-content>
</mat-card>