<mat-card class="card">
    <mat-card-header class="head">
        <mat-card-title class="title">Leute hinzufügen</mat-card-title>
        <mat-card-subtitle>
            <span># {{ room.name }}</span>
        </mat-card-subtitle>

        <mat-icon class="icon btn-50" (click)="closeDialog()">close</mat-icon>
    </mat-card-header>

    <mat-card-content class="content">
        <app-searchbar [potentialMembersSearch]="true" [globalSearch]="false" [showBorder]="true"
            [placeholder]="'Name eingeben'" (userListForAddingChannel)="receiveUserList($event)"
            (inputChange)="onSearchInputChange($event)"></app-searchbar>
        <ng-container *ngIf="(!isSearchbarEmpty) && (userListForAddingChannel$ | async) as userList">
            <app-user-list [users]="userList" (selectedUser)="userSelectionChange($event)"></app-user-list>
        </ng-container>

        <ng-container *ngIf="selectedUsers.length > 0">
            <section class="selection-list">
                <ul>
                    <li class="selected-item border-radius-3" *ngFor="let selected of selectedUsers">
                        <div class="selected-avatar">
                            <img [src]="selected.avatar" alt="avatar">
                            <mat-icon [ngClass]="{ online: selected.online, offline: !selected.offline }" class="icon">circle</mat-icon>
                        </div>
                        <span class="selected-name">{{selected.fullName}}</span>
                        <img class="img-x" src="../../../../../assets/img/exit_X.svg" alt="delete" (click)="removeUserFromSelection(selected)">
                    </li>
                </ul>
            </section>
        </ng-container>

        <div class="btn-container">
            <button [disabled]="selectedUsers.length === 0" class="border-radius-3">Hinzufügen</button>
        </div>
    </mat-card-content>
</mat-card>