<mat-card class="card">
  <mat-card-header class="head">
    <mat-card-title class="title">Leute hinzufügen</mat-card-title>
    <mat-card-subtitle>
      <span># {{ channel.name }}</span>
    </mat-card-subtitle>

    <mat-icon class="icon btn-50" (click)="closeDialog()">close</mat-icon>
  </mat-card-header>

  <mat-card-content class="content">
    <form [formGroup]="form">
      <input
        class="form-input"
        autocomplete="off"
        id="userInput"
        type="text"
        formControlName="userInput"
        ngDefaultControl
        placeholder="Your message"
        [value]="showUserInput.join(' ')"
        [ngStyle]="{
          color: isUserInput ? '#444df2' : 'black'
        }"
      />
    </form>

    <mat-expansion-panel class="expand-panel" [expanded]="usersSearch">
      <ng-container *ngIf="usersSearch">
        <div
          (click)="addUser(user.id)"
          id="{{ user.id }}"
          *ngFor="let user of users"
          class="show-users"
        >
          <img src="{{ user.avatar }}" alt="" />
          <p>{{ user.fullName }}</p>
        </div>
      </ng-container>
    </mat-expansion-panel>

    <div class="btn-container">
      <button class="border-radius-3">Hinzufügen</button>
    </div>
  </mat-card-content>
</mat-card>
