<div id="verification-success-main-container">
  <div class="verification-success-container">
    <app-logo></app-logo>

    <mat-card class="verification-success-content">
      <h2>Your Account is Now Verified! 🌟</h2>
      <p>
        Congratulations! 🎉
        <br />
        <br />
        You've successfully completed the registration and email verification
        process. Welcome to our community!
        <br />
        <br />
        We will now redirect you to the login page.
      </p>
    </mat-card>
  </div>
</div>
