<div id="verification-success-main-container">
  <div class="verification-success-container">
    <app-logo></app-logo>

    <mat-card class="verification-success-content">
      <img
        routerLink="/"
        class="verification-success-img"
        src="../../assets/img/arrow_back.svg"
        alt="Arrow back img"
      />
      <h2>Your Account is Now Verified! 🌟</h2>
      <p>
        Congratulations! 🎉 You've successfully completed the registration and
        email verification process. Welcome to our community! Your account is
        now active, and you're ready to explore all the features our platform
        has to offer. Feel free to update your profile, connect with others, and
        make the most of your experience.
      </p>
    </mat-card>
  </div>
</div>
