<button (click)="toggleWorkspace()" class="un-fold-workspace"
    appHoverChange [elementsConfig]="[ 
        { imageSelector: 'img', defaultSrc: './assets/img/workspace_open_close_workspace_menu.svg', hoverSrc: './../../assets/img/workspace_open_close_workspace_menu_hover.svg' },
        { textSelector: 'span', defaultColor: '#000000', hoverColor: '#797ef3' } ]" >
    <img src="./assets/img/workspace_open_close_workspace_menu.svg" alt="open or close workspace">
    <div><span> {{ buttonText }} </span></div>
</button>