@import "./../../../mixins.scss";
@import "./../../../colors.scss";

button {
    transform: rotate(90deg);
    width: 30rem;
    padding: 1.4rem 2.3rem;
    @include flexbox(flex, unset, center, center);
    font-size: 2rem;
    line-height: 2.4rem;
    gap: 1rem;
    border-radius: 3rem 3rem 0 0;
    box-shadow: 0.4rem 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.20);
    background-color: white;

    >div {
        transform: rotate(-180deg);

        >img {
            transform: rotate(-90deg);
        }

        >span {
            font-size: 1.8rem;
        }
    }
    
    // @media only screen and (max-width: 959px) {
    //     display: none;
    // }

    @media only screen and (min-width: 960px) {}
}