@import "../../../colors.scss";
@import "../../../mixins.scss";

.wrapper {
    position: relative;
    background-color: white;

    @media only screen and (max-width: 767px) {
        height: calc(100vh - 7rem);
    }

    @media only screen and (min-width: 768px) and (max-width: 1099px) {
        height: calc(100vh - 11rem);
        display: block;
    }

    @media only screen and (min-width: 1100px){
      height: 97%;
    }
}

.content-container {
    height: calc(100% - 25rem);
    overflow-y: scroll;

    @media only screen and (max-width: 767px) {
        height: calc(100% - 22rem);
    }

    @media only screen and (min-width: 768px) and (max-width: 1099px) and (min-height: 1000px){
        height: calc(100vh - 30rem);
    }

    @media only screen and (min-width: 1100px) {
      height: calc(100vh - 48rem);
  }
}

.info-desktop {
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  right: 2rem;
  left: 2rem;
  @include flexbox(flex, unset, center, center);

  h1 {
    @include fonts-styles(2rem, bold);
    color: $purple-1;
  }

  div {
    width: 50rem;
    height: 50rem;
    background-color: white;
    @include flexbox(flex, column, center, center);
    gap: 2rem;
  }

  a {
    @include fonts-styles(1.8rem, bold);
    border-radius: 3rem;
    transition: all 225ms;
    padding: 3rem;

    &:hover {
      cursor: pointer;
      background-color: $bg-color;
    }
  }

  @media only screen and (max-width: 1099px) {
    display: none;
  }
}

.no-mobile {
  @media only screen and (min-width: 1100px) {
    display: none;
  }
}

.show-start-message {
  width: 100%;
  height: 4rem;
  margin-top: 3rem;
  margin-left: 3rem;

  h1 {
    font-size: 2.2rem;
    color: $purple-1;
  }

  h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    color: $purple-2;
  }
}
