<section
  [class.no-mobile]="isNotDashboard"
  class="wrapper border-radius-3"
>
  <ng-container *ngIf="showChannel">
    <app-chat-header></app-chat-header>
    <div class="content-container scroll" *ngIf="showMessages">
      <div *ngFor="let message of messages; let i = index">
        <ng-container
          *ngIf="
            i === 0 ||
            isDifferentDay(messages[i - 1].timestamp, message.timestamp)
          "
        >
          <app-time-separator-chat
            [timestamp]="message.timestamp"
          ></app-time-separator-chat>
        </ng-container>
        <app-message
          [typeOfMessage]="'mainMessage'"
          (updatedMessage)="saveEditedMessage($event)"
          [message]="message"
          [messageId]="message.id"
        ></app-message>
      </div>
    </div>
    <div class="chat-input">
      <app-message-input
        [usedLocation]="'channel'"
      ></app-message-input>
    </div>
  </ng-container>
