<section [ngStyle]="{'height': isNotDashboard ? '100vh' : '100%'}" [class.h-100]="isNotDashboard" class="wrapper wrapper-padding border-radius-3">
    <app-chat-header [roomName]="roomNameHeader"></app-chat-header>
    
    <div *ngFor="let message of messages; let i = index;">
        <app-message [message]="message" ></app-message>
    </div>
    <div class="chat-input">
        <app-message-input></app-message-input>
    </div>
</section>

<!-- (showThread)="handleThread($event)" muss im eventservice eingebaut werden -->