@import "app/colors.scss";
@import "app/mixins.scss";
@import "@ctrl/ngx-emoji-mart/picker";
@import "fonts.scss";

// Any other global styles or imports can go here

$font-family-nunito: "Nunito Sans", sans-serif;
$font-family-figtree: "Figtree", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $text-gray;
  }
}

html {
  font-size: 62.5%;
  user-select: none;
  scroll-behavior: smooth;

  @media only screen and (max-width: 768px) and (max-height: 700px) {
    font-size: 50%;
  }
}

body {
  height: 100vh;
  background-color: $bg-color;
  font-family: $font-family-nunito;
  color: $black;
  position: relative;

  @media only screen and (max-width: 1099px) {
    background-color: white;
  }
}

img,
button {
  cursor: pointer;
}

input,
button {
  border: unset;
  outline: none;
}

a {
  text-decoration: none;
}

h1 {
  @include fonts-styles(1.8rem, bold);

  @media only screen and (min-width: 1750px) {
    @include fonts-styles(2rem, bold);
  }
}

h2 {
  @media only screen and (max-width: 768px) and (max-height: 700px) {
    @include fonts-styles(1.4rem, bold);
  }

  @media only screen and (min-width: 1750px) {
    @include fonts-styles(1.8rem, bold);
  }
}

h4 {
  @media only screen and (min-width: 1750px) {
    @include fonts-styles(1.4rem, bold);
  }
}

.fs-12 {
  @media only screen and (min-width: 1750px) {
    @include fonts-styles(1.2rem, normal);
  }
}

.fs-16 {
  @media only screen and (min-width: 1750px) {
    @include fonts-styles(1.6rem, normal);
  }
}

.fs-18 {
  @media only screen and (min-width: 1750px) {
    @include fonts-styles(1.8rem, normal);
  }
}

// /########################## General stylings ########################## /
.purple {
  color: $purple-1;
  font-weight: bold;
}

.purple2 {
  color: $purple-2;
}

.text-center {
  text-align: center;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $text-gray;
}

.chat-input {
  position: absolute;
  bottom: 1.6rem;

  @media only screen and (max-width: 767px) {
    left: 0;
    right: 0;
    bottom: 1.6rem;
  }

  @media only screen and (min-width: 768px) {
    left: 1.6rem;
    right: 1.6rem;
    bottom: 3.2rem;
  }

  @media only screen and (min-width: 1100px) {
    bottom: 0;
  }
}

.wrapper-padding {
  padding: 1.6rem 1.6rem 0 1.6rem;

  @media only screen and (min-width: 1100px) {
    padding: 0 3.2rem;
  }
}

.wrapper-margin {
  margin: 1.6rem 1.6rem 0 1.6rem;

  @media only screen and (min-width: 1100px) {
    margin: 0 3.2rem;
  }
}

.border-radius-3 {
  border-radius: 3rem;

  @media only screen and (min-width: 1100px) {
    border-radius: 3rem;
  }
}

.desktop-view {
  display: none;

  @media only screen and (min-width: 1100px) {
    display: flex;
  }
}

.mobile-view {
  display: block;

  @media only screen and (min-width: 1100px) {
    display: none;
  }
}

.mbl-padding {
  padding: 0 1.7rem;
}

.btn-50 {
  border-radius: 50%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}
