<div id="verify-email-main-container">
  <div class="verify-email-container">
    <app-logo></app-logo>

    <mat-card class="verify-email-content">
      <img
        routerLink="/"
        class="verify-email-img"
        src="./assets/img/arrow_back.svg"
        alt="Arrow back img"
      />
      <h2>Verify Your Email Address to Activate Your Account</h2>
      <p>
        "Thank you for signing up! An email with a verification link has been
        sent to the email address you provided. To complete the registration
        process, please click the link in the email. If you don't see the email,
        please check your spam folder. We look forward to having you as part of
        our community!"
      </p>
    </mat-card>
  </div>
</div>
