<div class="inputComp">
  <textarea
    [(ngModel)]="text"
    class="message-field"
    matInput
    placeholder="{{ placeholder }}"
  ></textarea>
  <div>
    <div class="flex between">
      <div class="options">
        <input
          class="upload-hidden"
          type="file"
          id="actual-btn"
          (change)="onFileSelected($event)"
        />
        <label class="upload" for="actual-btn">
          <div class="upload-container">
            <div class="icon">
              <mat-icon class="input-btn">add</mat-icon>
            </div>
          </div>
        </label>
        <button
          (click)="toggleEmojiContainer()"
          appHoverChange
          [elementsConfig]="[
            {
              imageSelector: 'img',
              defaultSrc: '../../assets/img/add_message_emoji.svg',
              hoverSrc: '../../assets/img/add_message_emoji_hover.svg'
            }
          ]"
          class="input-btn"
        >
          <img src="../../assets/img/add_message_emoji.svg" alt="add-emoji" />
        </button>
        <button
          appHoverChange
          [elementsConfig]="[
            {
              imageSelector: 'img',
              defaultSrc: '../../assets/img/add_message_@.svg',
              hoverSrc: '../../assets/img/add_message_@_hover.svg'
            }
          ]"
          class="input-btn"
        >
          <img src="../../assets/img/add_message_@.svg" alt="@" />
        </button>
      </div>
      <button
        (click)="addMessage(true)"
        appHoverChange
        [elementsConfig]="[
          {
            imageSelector: 'img',
            defaultSrc: '../../assets/img/send_message.svg',
            hoverSrc: '../../assets/img/send_message_hover.svg'
          }
        ]"
        class="input-btn send"
      >
        <img src="../../assets/img/send_message.svg" alt="" />
      </button>
    </div>
    <p class="text-for-file">{{ textForFile }}</p>
  </div>
  <div *ngIf="showEmoji" id="emoji">
    <emoji-mart
      [emojiSize]="16"
      [sheetSize]="16"
      [darkMode]="false"
      [totalFrequentLines]="0"
      [enableSearch]="false"
      (emojiClick)="addEmoji($event)"
      [style]="{
        position: 'absolute',
        top: '50%',
        right: '50%',
        transform: 'translate(50%, -50%)'
      }"
    ></emoji-mart>
  </div>
</div>
