<ng-container
  *ngIf="
    usedLocation === 'directMessages' ||
    usedLocation === 'channel' ||
    usedLocation === 'thread'
  "
>
  <div class="inputComp">
    <textarea
      [(ngModel)]="text"
      class="message-field fs-16"
      matInput
      placeholder="{{ placeholder }}"
      [value]="showUserInput.join(' ')"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()"
      (input)="onInputChange($event)"
      #userInputField
    ></textarea>

    <div>
      <div class="flex between">
        <div class="options">
          <input
            class="upload-hidden"
            type="file"
            id="actual-btn"
            (change)="onFileSelected($event)"
          />
          <label class="upload" for="actual-btn">
            <div class="upload-container">
              <div class="icon">
                <mat-icon class="input-btn">add</mat-icon>
              </div>
            </div>
          </label>
          <button
            (click)="toggleEmojiContainer(usedLocation); usersSearch = false"
            appHoverChange
            [elementsConfig]="[
              {
                imageSelector: 'img',
                defaultSrc: '../../assets/img/add_message_emoji.svg',
                hoverSrc: '../../assets/img/add_message_emoji_hover.svg'
              }
            ]"
            class="input-btn"
          >
            <img src="../../assets/img/add_message_emoji.svg" alt="add-emoji" />
          </button>
          <button
            (click)="toggleExpandPanel(); showEmoji = false"
            appHoverChange
            [elementsConfig]="[
              {
                imageSelector: 'img',
                defaultSrc: '../../assets/img/add_message_@.svg',
                hoverSrc: '../../assets/img/add_message_@_hover.svg'
              }
            ]"
            class="input-btn"
          >
            <img src="../../assets/img/add_message_@.svg" alt="@" />
          </button>
        </div>
        <button
          (click)="addMessage(true)"
          appHoverChange
          [elementsConfig]="[
            {
              imageSelector: 'img',
              defaultSrc: '../../assets/img/send_message.svg',
              hoverSrc: '../../assets/img/send_message_hover.svg'
            }
          ]"
          class="input-btn send"
        >
          <img src="../../assets/img/send_message.svg" alt="" />
        </button>
      </div>
      <p class="text-for-file">{{ textForFile }}</p>
    </div>
    <div *ngIf="showEmoji" id="emoji">
      <emoji-mart
        [emojiSize]="16"
        [sheetSize]="16"
        [darkMode]="false"
        [totalFrequentLines]="0"
        [enableSearch]="true"
        (emojiClick)="addEmoji($event)"
        [style]="{
          position: 'absolute',
          top: newMsgOrMsg ? '-290%' : '-210%'
        }"
      ></emoji-mart>
    </div>

    <mat-expansion-panel
      *ngIf="usersSearch || channelSearch"
      class="expand-panel"
      [expanded]="usersSearch || channelSearch"
    >
      <ng-container *ngIf="usersSearch">
        <div
          (click)="addUser(user.id)"
          id="{{ user.id }}"
          *ngFor="let user of users"
          class="show-users"
        >
          <img src="{{ user.avatar }}" alt="" />
          <p>{{ user.fullName }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="channelSearch">
        <div
          (click)="addChannel(channel.name)"
          id="{{ channel.id }}"
          *ngFor="let channel of channels"
          class="show-users"
        >
          <p># {{ channel.name }}</p>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </div>
</ng-container>

<ng-container *ngIf="usedLocation === 'newMessage'">
  <div class="inputComp">
    <textarea
      [(ngModel)]="text"
      class="message-field fs-16"
      matInput
      placeholder="{{ placeholder }}"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()"
      #userInputField
    ></textarea>

    <div>
      <div class="flex between">
        <div
          class="options"
          [class.justify-unset]="usedLocation === 'newMessage'"
        >
          <input
            class="upload-hidden"
            type="file"
            id="actual-btn"
            (change)="onFileSelected($event)"
          />
          <label class="upload" for="actual-btn">
            <div class="upload-container">
              <div class="icon">
                <mat-icon class="input-btn">add</mat-icon>
              </div>
            </div>
          </label>
          <button
            (click)="toggleEmojiContainer(usedLocation); usersSearch = false"
            appHoverChange
            [elementsConfig]="[
              {
                imageSelector: 'img',
                defaultSrc: '../../assets/img/add_message_emoji.svg',
                hoverSrc: '../../assets/img/add_message_emoji_hover.svg'
              }
            ]"
            class="input-btn"
          >
            <img src="../../assets/img/add_message_emoji.svg" alt="add-emoji" />
          </button>
        </div>
        <button
          (click)="emitText()"
          appHoverChange
          [elementsConfig]="[
            {
              imageSelector: 'img',
              defaultSrc: '../../assets/img/send_message.svg',
              hoverSrc: '../../assets/img/send_message_hover.svg'
            }
          ]"
          class="input-btn send"
        >
          <img src="../../assets/img/send_message.svg" alt="" />
        </button>
      </div>
      <p class="text-for-file">{{ textForFile }}</p>
    </div>
    <div *ngIf="showEmoji" id="emoji">
      <emoji-mart
        [emojiSize]="16"
        [sheetSize]="16"
        [darkMode]="false"
        [totalFrequentLines]="0"
        [enableSearch]="false"
        (emojiClick)="addEmoji($event)"
        [style]="{
          position: 'absolute',
          top: '-260%',
        }"
      ></emoji-mart>
    </div>
  </div>
</ng-container>
