<div *ngIf="isOpen" class="main">
  <div class="workspace-wrapper">
    <app-workspace-header></app-workspace-header>
    <div [ngClass]="{ channelheight: channelHeight }" class="drawer-container">
      <div class="drawer">
        <div class="drawer-header">
          <div
            class="header-left"
            (click)="openChannels()"
            appHoverChange
            [elementsConfig]="[
              {
                imageSelector: '.arrow',
                defaultSrc: './../../assets/img/arrow_drop_down.svg',
                hoverSrc: './../../assets/img/arrow_down_hover.svg'
              },
              {
                imageSelector: '.channels',
                defaultSrc: './../../assets/img/workspaces_0_channels.svg',
                hoverSrc: './../../assets/img/workspaces_0_channels_hover.svg'
              },
              {
                textSelector: 'h2',
                defaultColor: '#000000',
                hoverColor: '#797ef3'
              }
            ]"
          >
            <img
              class="arrow"
              [class.rotate]="showChannels"
              src="./../../assets/img/arrow_drop_down.svg"
              alt="drop down"
            />
            <span>
              <img
                class="channels"
                src="./../../assets/img/workspaces_0_channels.svg"
                alt="channels"
              />
              <h2>Channels</h2>
            </span>
          </div>

          <button
            class="btn-small-create-channel"
            appHoverChange
            [elementsConfig]="[
              {
                imageSelector: 'img',
                defaultSrc: defaultImagePath,
                hoverSrc: './../../assets/img/add_desktop_hover.svg'
              }
            ]"
            (click)="openCreateChannel()"
          >
            <img
              src="{{ './../../assets/img/add_' + imageFlag + '.svg' }}"
              alt="adding channel"
            />
          </button>
        </div>

        @if (showChannels) {
        <ng-container *ngFor="let channel of channels">
          <app-channel-list-item
            id="{{ channel.id }}"
            [channel]="channel"
            (openChatChannel)="showChannelChat()"
          ></app-channel-list-item>
        </ng-container>

        <button (click)="openCreateChannel()" class="btn-create-channel">
          <img src="./../../assets/img/add_border.svg" alt="add" />
          <a class="link-create">Channel hinzufügen</a>
        </button>
        }
      </div>
    </div>

    <div class="drawer-container scroll">
      <div class="drawer fixed">
        <div
          appHoverChange
          [elementsConfig]="[
            {
              imageSelector: '.arrow',
              defaultSrc: './../../assets/img/arrow_drop_down.svg',
              hoverSrc: './../../assets/img/arrow_down_hover.svg'
            },
            {
              imageSelector: '.dms',
              defaultSrc: './../../assets/img/workspaces_1_DM.svg',
              hoverSrc: './../../assets/img/workspaces_1_DM_hover.svg'
            },
            {
              textSelector: 'h2',
              defaultColor: '#000000',
              hoverColor: '#797ef3'
            }
          ]"
          class="drawer-header margin-top"
          (click)="openDirectMsgs('workSpace')"
        >
          <img
            class="arrow"
            [class.rotate]="showDMs"
            src="./../../assets/img/arrow_drop_down.svg"
            alt="drop down"
          />
          <span>
            <img
              class="dms"
              src="./../../assets/img/workspaces_1_DM.svg"
              alt="account circle"
            />
            <h2>Direktnachrichten</h2>
          </span>
        </div>
      </div>

      <div class="dm-list-container">
        @if (showDMs) {
        <ng-container *ngFor="let user of users">
          <app-direct-message-list-item
            [user]="user"
            id="{{ user.id }}"
          ></app-direct-message-list-item>
        </ng-container>
        }
      </div>
    </div>
  </div>

  <button class="mobile-btn-write-dm" (click)="writeNewMessage()">
    <img
      src="../../../../assets/img/workspace_2_mobile_write_dm_square.svg"
      alt="write message"
    />
  </button>
</div>
